@using ShopApp.DataAccess.Dtos;
@model ChangeOrderStatusDto
<h1>Change Order Status</h1>
<hr />

<div class="container">
    <form method="post">
    <input asp-for="Id" hidden id="inputOrderId" name="Id" />
    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Order Status</label>
        <div class="col-md-10">
            <select class="form-select" asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<EnumOrderState>()"></select>
        </div>
    </div>
    <div class="clearfix">
        <button type="submit" class="float-end btn btn-success">Save Change</button>
    </div>
    

</form>
</div>

