
@{
    ViewData["Title"] = "Success";
}

<div class="card text-center mt-5 ">
    <div class="card-header alert-success">
        Payment Success
    </div>
    <div class="card-body my-3">
        <p class="card-text">Payment is successful. You can watch your order in "<a href="/orders">Orders</a>"</p>
    </div>
</div>


